.button {
    background-color: #4548b0;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #494cb6;
    cursor: pointer;
  }
  
  .button-group {
    display: flex;
    justify-content: space-evenly;
  }

  .hint {
      color: #a8a8a8;
      margin: 6em 0;
  }
  